@CHARSET "UTF-8";
.Content a{
	margin-left:7%;
}
.Main .foot{
	height: 60px;
    border-top: 3px double rgba(34,25,25,.1);
    margin-top: 20px;
    display: block;
    padding-top:20px;
}

.foot a{
 	padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 0;
    color: #8c7e7e;
    text-shadow: 0 1px rgba(255,255,255,.9);
    border-top: 1px solid rgba(255,255,255,.7);
    font-size: 21px;
    font-weight: 300;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.foots{
	height: 60px;
    border-top: 3px double rgba(34,25,25,.1);
    display: block;
}
.foots a{
display: inline-block;
margin-top:5px;
 	color: #8c7e7e;
    text-shadow: 0 1px rgba(255,255,255,.9);
    border-top: 1px solid rgba(255,255,255,.7);
    font-size: 21px;
    font-weight: 300;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.foots input{
 	background: #FCFCFC;
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 50px;
    height: 36px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    padding: 0 10px;
    font-size: 16px;
}

.foot input{
    padding: 0 10px;
    height: 36px;
    font-size: 16px;
    line-height: 1;
    color: #777;
    background: #FCFCFC;
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 250px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    display: inline-block;
    margin-right: 100px;
}
.foot .piece{
	width:50px;
}

.none{
	width:10px;
	line-height: 1;
	display:inline-block;
}

.Main .inpu{
	margin-top:0px;