@CHARSET "UTF-8";

.cent{
margin:0px auto;
}
.every{
 border: 1px solid #ddd;
 padding-top:1px;
 border-radius:4px;
 }
 
body,div{ margin:0; padding:0}
img{ border:0;border-radius:4px;}
#container{ text-align:center;}
#container .cell{background:#F5F5F5; margin-top:10px;border-radius:4px;}
#container p{ line-height:20px; margin-top:5px}