@CHARSET "UTF-8";

.center2{
    background: #fff;
	background-color:white;
	box-shadow:rgb(194, 194, 194) 0px 0px 5px 0px;
	text-align:center;
	padding:20px;
	color:rgb(61, 68, 80);
	font-size:30px;
	font-weight:bold;
	width:1470px;
	height:250px;
	margin:100px auto;
	left:0;
	top:0;
	position:relative;
	z-index:1;
	border: 1px solid #ddd;
    border-radius: 6px;
    margin-top:200px;
}
.center2 div{
	margin:20px auto;
}
.center2 .image{
width:170px;
height:250px;
display:block;
position:absolute;
top:-50px;
left:30px;
background:#fff;
border-radius: 6px;
}

.image div{
	float:left;
	display:block;
	margin:10px auto;
	width:80px;
	text-align:center;	
}

span{
	border:0px;
}
.image  span{
width:1px;
height:80px;
border-left:1px solid #EDEDED;
float:left;
display:block;
}


.image div p{
	font-size: 20px;
    font-weight: 700;
    color: #444;
    line-height: 1;
    margin: 10px auto;
}	

.image div h3{
	font-size: 20px;
    line-height: 1;
    color: #999;
}
.image img{
	width:150px;
	height:150px;
	z-index:2;
	margin:10px auto;
	border: 1px solid #ddd;
    border-radius: 6px;
}

.foot{
	width:250px;
	height:100px;
	position:absolute;
	bottom:-75px;
	left:5px;

}

.foot div{
	width:60px;
	background:#fff;
	 border-radius: 6px;
	 display:block;
	 float:left;
	
}

.foot div a{
	font-size: 20px;
    line-height: 1;
    color: #999;
}

.foot div p{
	font-size: 20px;
    font-weight: 700;
    color: #444;
    line-height: 1;
    margin: 10px auto;
}

.content{
	width:80%;
	height:250px;
	position:absolute;
	left:275px;
	top:10px;
}

.content div{
	float:left;
	display:block;
	margin-top:0px;
	margin:0px 50px;
}
.content div img{
	width:200px;
	height:200px;
	border: 1px solid #ddd;
}

.water{
	width:1000px;
	margin:20px auto;
	background:#fff;
	border: 1px solid #ddd;
    border-radius: 6px;
}
.water p{
	margin-bottom:20px;
}

.tp{
	text-align:center;
	margin-top:20px;
    font-size: 20px;
    color: #999;
}
