<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>classDesign</display-name>
  <servlet>
    <servlet-name>IsUserServlet</servlet-name>
    <servlet-class>com.Design.Servlet.IsUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsUserServlet</servlet-name>
    <url-pattern>/jsp/IsUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.Design.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/jsp/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>com.Design.Servlet.MyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/jsp/MyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyDetailServlet</servlet-name>
    <servlet-class>com.Design.Servlet.MyDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDetailServlet</servlet-name>
    <url-pattern>/jsp/MyDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SavePictureServlet</servlet-name>
    <servlet-class>com.Design.Servlet.SavePictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePictureServlet</servlet-name>
    <url-pattern>/jsp/SavePictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.Design.Servlet.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/jsp/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePictureServlet</servlet-name>
    <servlet-class>com.Design.Servlet.DeletePictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePictureServlet</servlet-name>
    <url-pattern>/jsp/DeletePictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCollectorServlet</servlet-name>
    <servlet-class>com.Design.Servlet.DeleteCollectorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollectorServlet</servlet-name>
    <url-pattern>/jsp/DeleteCollectorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>com.Design.Servlet.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/jsp/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTakeOrder</servlet-name>
    <servlet-class>com.Design.Servlet.DeleteTakeOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTakeOrder</servlet-name>
    <url-pattern>/jsp/DeleteTakeOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CollectorPictureServlet</servlet-name>
    <servlet-class>com.Design.Servlet.CollectorPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectorPictureServlet</servlet-name>
    <url-pattern>/jsp/CollectorPictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccptedOrderServlet</servlet-name>
    <servlet-class>com.Design.Servlet.AccptedOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccptedOrderServlet</servlet-name>
    <url-pattern>/jsp/AccptedOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveOrderServlet</servlet-name>
    <servlet-class>com.Design.Servlet.SaveOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveOrderServlet</servlet-name>
    <url-pattern>/jsp/SaveOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveOrderPictureServlet</servlet-name>
    <servlet-class>com.Design.Servlet.SaveOrderPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveOrderPictureServlet</servlet-name>
    <url-pattern>/jsp/SaveOrderPictureServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>